/IForgeBlock.class
/IForgeBlockState.class
/IForgeChunk.class
/IForgeContainerType.class
/IForgeDimension$SleepResult.class
/IForgeDimension.class
/IForgeEffect.class
/IForgeEffectInstance.class
/IForgeEntity.class
/IForgeEntityMinecart.class
/IForgeFluid.class
/IForgeFluidState.class
/IForgeItem.class
/IForgeItemStack.class
/IForgePacketBuffer.class
/IForgeSelectionContext.class
/IForgeTileEntity.class
/IForgeWorld.class
/IForgeWorldServer.class
/IForgeWorldType.class
