/AnimalTameEvent.class
/BabyEntitySpawnEvent.class
/EnderTeleportEvent.class
/LivingAttackEvent.class
/LivingDamageEvent.class
/LivingDeathEvent.class
/LivingDestroyBlockEvent.class
/LivingDropsEvent.class
/LivingEntityUseItemEvent$Finish.class
/LivingEntityUseItemEvent$Start.class
/LivingEntityUseItemEvent$Stop.class
/LivingEntityUseItemEvent$Tick.class
/LivingEntityUseItemEvent.class
/LivingEquipmentChangeEvent.class
/LivingEvent$LivingJumpEvent.class
/LivingEvent$LivingUpdateEvent.class
/LivingEvent.class
/LivingExperienceDropEvent.class
/LivingFallEvent.class
/LivingHealEvent.class
/LivingHurtEvent.class
/LivingKnockBackEvent.class
/LivingPackSizeEvent.class
/LivingSetAttackTargetEvent.class
/LivingSpawnEvent$AllowDespawn.class
/LivingSpawnEvent$CheckSpawn.class
/LivingSpawnEvent$SpecialSpawn.class
/LivingSpawnEvent.class
/LootingLevelEvent.class
/PotionColorCalculationEvent.class
/PotionEvent$PotionAddedEvent.class
/PotionEvent$PotionApplicableEvent.class
/PotionEvent$PotionExpiryEvent.class
/PotionEvent$PotionRemoveEvent.class
/PotionEvent.class
/ZombieEvent$SummonAidEvent.class
/ZombieEvent.class
