/Animation.class
/AnimationItemOverrideList.class
/ModelBlockAnimation$MBClip$MBJointClip.class
/ModelBlockAnimation$MBClip.class
/ModelBlockAnimation$MBJoint.class
/ModelBlockAnimation$MBJointWeight.class
/ModelBlockAnimation$MBVariableClip.class
/ModelBlockAnimation$Parameter$Interpolation.class
/ModelBlockAnimation$Parameter$Type.class
/ModelBlockAnimation$Parameter$Variable.class
/ModelBlockAnimation$Parameter.class
/ModelBlockAnimation.class
/TileEntityRendererAnimation.class
/package-info.class
