/EmptyFluidHandler.class
/FluidHandlerItemStack$Consumable.class
/FluidHandlerItemStack$SwapEmpty.class
/FluidHandlerItemStack.class
/FluidHandlerItemStackSimple$Consumable.class
/FluidHandlerItemStackSimple$SwapEmpty.class
/FluidHandlerItemStackSimple.class
/FluidTank.class
/VoidFluidHandler.class
