/Capability$IStorage.class
/Capability.class
/CapabilityDispatcher.class
/CapabilityInject.class
/CapabilityManager.class
/CapabilityProvider.class
/ICapabilityProvider.class
/ICapabilitySerializable.class
