/BlockSnapshot.class
/ChunkCoordComparator.class
/Constants$BlockFlags.class
/Constants$NBT.class
/Constants$WorldEvents.class
/Constants.class
/DummyWorldSaveData.class
/FakePlayer.class
/FakePlayerFactory.class
/HexDumper$Instance.class
/HexDumper.class
/INBTSerializable.class
/ITeleporter.class
/JsonUtils$ImmutableListTypeAdapter.class
/JsonUtils$ImmutableMapTypeAdapter.class
/JsonUtils.class
/Lazy$Concurrent.class
/Lazy$Fast.class
/Lazy.class
/LazyOptional.class
/NonNullConsumer.class
/NonNullFunction.class
/NonNullLazy$Concurrent.class
/NonNullLazy$Fast.class
/NonNullLazy.class
/NonNullPredicate.class
/NonNullSupplier.class
/RecipeMatcher.class
/ReverseTagWrapper.class
/Size2i.class
/SortedProperties.class
/TextTable$Alignment.class
/TextTable$Column.class
/TextTable$Row.class
/TextTable.class
/TriPredicate.class
/WorldCapabilityData.class
