/CombinedInvWrapper.class
/EmptyHandler.class
/EntityArmorInvWrapper.class
/EntityEquipmentInvWrapper.class
/EntityHandsInvWrapper.class
/InvWrapper.class
/PlayerArmorInvWrapper.class
/PlayerInvWrapper.class
/PlayerMainInvWrapper.class
/PlayerOffhandInvWrapper.class
/RangedWrapper.class
/RecipeWrapper.class
/SidedInvWrapper.class
