/AnimationStateMachine$ClipResolver.class
/AnimationStateMachine$ParameterResolver.class
/AnimationStateMachine$TransitionsAdapterFactory.class
/AnimationStateMachine.class
/CapabilityAnimation$1.class
/CapabilityAnimation$DefaultItemAnimationCapabilityProvider.class
/CapabilityAnimation.class
/Clips$ClipReference.class
/Clips$CommonClipTypeAdapterFactory.class
/Clips$IdentityClip.class
/Clips$ModelClip.class
/Clips$SlerpClip.class
/Clips$TimeClip.class
/Clips$TriggerClip.class
/Clips.class
/IAnimationStateMachine.class
/IClip.class
/IJoint.class
/IJointClip.class
/JointClips$IdentityJointClip.class
/JointClips$NodeJointClip.class
/JointClips.class
