/CapabilityItemHandler$1.class
/CapabilityItemHandler.class
/IItemHandler.class
/IItemHandlerModifiable.class
/ItemHandlerHelper.class
/ItemStackHandler.class
/SlotItemHandler.class
/VanillaHopperItemHandler.class
/VanillaInventoryCodeHooks.class
