/BasicTrade.class
/BiomeDictionary$BiomeInfo.class
/BiomeDictionary$Type.class
/BiomeDictionary.class
/BiomeManager$BiomeEntry.class
/BiomeManager$BiomeType.class
/BiomeManager$TrackedList.class
/BiomeManager.class
/DimensionManager$Data.class
/DimensionManager$NoopChunkStatusListener.class
/DimensionManager$SavedEntry.class
/DimensionManager.class
/DungeonHooks$DungeonMob.class
/DungeonHooks.class
/FarmlandWaterManager.class
/ForgeConfig$Client.class
/ForgeConfig$Server.class
/ForgeConfig.class
/ForgeConfigSpec$BooleanValue.class
/ForgeConfigSpec$Builder$BuilderConsumer.class
/ForgeConfigSpec$Builder.class
/ForgeConfigSpec$BuilderContext.class
/ForgeConfigSpec$ConfigValue.class
/ForgeConfigSpec$DoubleValue.class
/ForgeConfigSpec$EnumValue.class
/ForgeConfigSpec$IntValue.class
/ForgeConfigSpec$LongValue.class
/ForgeConfigSpec$Range.class
/ForgeConfigSpec$ValueSpec.class
/ForgeConfigSpec.class
/ForgeHooks$DummyBlockReader.class
/ForgeHooks$LootTableContext.class
/ForgeHooks$OptionalTagEntry.class
/ForgeHooks.class
/ForgeInternalHandler.class
/ForgeMod.class
/IExtensibleEnum.class
/IMinecartCollisionHandler.class
/IPlantable.class
/IShearable.class
/MinecraftForge.class
/ModDimension.class
/PlantType.class
/Tags$Blocks.class
/Tags$Items.class
/Tags.class
/ToolType.class
/UsernameCache$SaveThread.class
/UsernameCache.class
/VillagerTradingManager.class
/WorldWorkerManager$IWorker.class
/WorldWorkerManager.class
