/ClearableRegistry.class
/DataSerializerEntry.class
/DeferredRegister.class
/ForgeRegistries.class
/ForgeRegistry$OverrideOwner.class
/ForgeRegistry$Snapshot.class
/ForgeRegistry.class
/ForgeRegistryEntry.class
/GameData$BlockCallbacks$BlockDummyAir.class
/GameData$BlockCallbacks.class
/GameData$ClearableObjectIntIdentityMap.class
/GameData$FeatureCallbacks.class
/GameData$ItemCallbacks.class
/GameData$SerializerCallbacks.class
/GameData.class
/IForgeRegistry$AddCallback.class
/IForgeRegistry$BakeCallback.class
/IForgeRegistry$ClearCallback.class
/IForgeRegistry$CreateCallback.class
/IForgeRegistry$DummyFactory.class
/IForgeRegistry$MissingFactory.class
/IForgeRegistry$ValidateCallback.class
/IForgeRegistry.class
/IForgeRegistryEntry.class
/IForgeRegistryInternal.class
/IForgeRegistryModifiable.class
/ILockableRegistry.class
/IRegistryDelegate.class
/NamespacedDefaultedWrapper$Factory.class
/NamespacedDefaultedWrapper.class
/NamespacedWrapper$Factory.class
/NamespacedWrapper.class
/ObjectHolder.class
/ObjectHolderRef.class
/ObjectHolderRegistry.class
/RegistryBuilder.class
/RegistryDelegate.class
/RegistryManager.class
