/DelegatableResourcePack.class
/DelegatingResourcePack.class
/ModFileResourcePack.class
/ResourcePackLoader$IPackInfoFinder.class
/ResourcePackLoader$LambdaFriendlyPackFinder.class
/ResourcePackLoader.class
