/AnvilUpdateEvent.class
/AttachCapabilitiesEvent.class
/CommandEvent.class
/DifficultyChangeEvent.class
/ForgeEventFactory.class
/LootTableLoadEvent.class
/RegistryEvent$MissingMappings$Action.class
/RegistryEvent$MissingMappings$Mapping.class
/RegistryEvent$MissingMappings.class
/RegistryEvent$NewRegistry.class
/RegistryEvent$Register.class
/RegistryEvent.class
/ServerChatEvent.class
/TagsUpdatedEvent.class
/TickEvent$ClientTickEvent.class
/TickEvent$Phase.class
/TickEvent$PlayerTickEvent.class
/TickEvent$RenderTickEvent.class
/TickEvent$ServerTickEvent.class
/TickEvent$Type.class
/TickEvent$WorldTickEvent.class
/TickEvent.class
